header {
}

.logo img {
	width: 800px;
	height: 800px;
	position: absolute;
	top: -115px;
	right: 320px;
}
body {
	background-image: url(background.png);
	background-color: Black;
	font-family: Arial, sans-serif;
	margin: 200px;
	padding: 200px;
	color: white;
}
main section img {
	width: 300px;
	height: 200px;
	background-color: #212121;
}

.contact-button {
	position: absolute;
	top: 30px;
	right: 90px;
	background-color: #f0f0f0;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	background-color: black;
}
.info-button {
	position: absolute;
	top: 30px;
	right: 20px;
	background-color: #f0f0f0;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	background-color: black;
}
.info-button:hover,
.contact-button:hover {
	background-color: red;
}

.image-container {
	display: flex;
	margin-top: -150px;
}

section {
	margin: 12px;
}
.audio-container {
	margin-bottom: 15px;
}
.audio-container {
	margin-left: 200px;
}
.image-container img[alt] {
        color: transparent;
}
    .image-container .image-text1 {
        position: absolute;
        top: 41%;
        left: 34%;
        color: white;
        font-size: 43px;
}
    .image-container .image-text2 {
        position: absolute;
        top: 41%;
        left: 57%;
        color: white;
        font-size: 43px;
}
